.aboutMe {
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: auto;
    background: var(--background-color-secondary);
    background-image: linear-gradient(-32deg,
            var(--background-color-primary) 43%,
            transparent 30%),
        linear-gradient(47deg, var(--contrast-color) 36%, transparent 27%);
}

.aboutMe .container {
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.aboutMe h1 {
    margin: 0;
    text-align: center;
    font-weight: 50;
    font-size: 40px;
    color: var(--contrast-color-secondary);
}

.aboutMe .container p {
    color: var(--text-color-primary);
    text-align: justify;
    font-weight: normal;
    font-size: 14px;
    text-shadow: 0px 0px 10px var(--background-color-primary);
}

.aboutMe .container h1 {
    text-align: center;
    font-weight: 100;
    padding-top: 20px;
    font-size: 35px;
    padding-bottom: 40px;
}

.aboutMe .container h3 {
    color: var(--contrast-color);
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 20px;
}

.aboutMe .container h3::before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 5%;
    background: var(--contrast-color);
    position: absolute;
    left: 0;
}

.aboutMe .container .list-aboutme-ol {
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    padding: 0;
    margin-bottom: 4em;
}

.aboutMe .container .list-aboutme-ol li {
    position: relative;
    display: block;
    padding: 0.4em 0.4em 0.4em 0.6em;
    margin: 0.5em 0;
    background-color: var(--secondary-color);
    color: var(--white-color);
    border-radius: 0.3em;
    transition: 0.5s all ease-in-out;
    font-size: 14px;
}

.aboutMe .container .list-aboutme-ol li:hover {
    background: var(--primary-color-active);
    color: var(--white-color);
    padding: 0.4em 0.4em 0.4em 1em;
}

.aboutMe .container .list-aboutme-ol li::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 64%;
    background: var(--primary-color);
    position: absolute;
    left: 0;
    border-radius: 50px;
}

.aboutMe .container .img-content {
    text-align: center;
}

.aboutMe .container .img-content img {
    max-width: 40%;
    border-radius: 10px;
}

.aboutMe .container p a {
    text-decoration: none;
    color: var(--contrast-color);
}

.aboutMe .container p a:hover {
    text-decoration: underline;
    color: var(--contrast-color-secondary);
}

.aboutMe .container .card-section {
    display: flex;
    flex-wrap: inherit;
    justify-content: center;
    flex-direction: row;
}

.aboutMe .container .card {
    width: 15em;
    background: var(--background-color-secondary);
    color: var(--text-color-primary);
    border-radius: 20px;
    box-shadow: 0px 7px 16px var(--shadow-color);
    transition: ease-in-out 0.5s;
}

.aboutMe .container .card:hover {
    transform: scale(1.1);
    z-index: 3;
}

.aboutMe .container .card .card-title {
    font-size: 1rem;
    text-align: center;
    font-weight: 700;
}

.aboutMe .container .card .card-header {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.aboutMe .container .card .card-header i {
    font-size: 30px;
    text-align: center;
    margin: 8px auto;
    /* background: var(--background-color-primary); */
    text-shadow: 0px 0px 10px var(--background-color-primary);
    transition: all 0.5s ease-in-out;
}

.aboutMe .container .card .card-text {
    color: var(--text-color-primary);
}

.aboutMe .container .card .card-header i:hover {
    background: var(--background-color-primary);
    border-radius: 20%;
    font-size: 40px;
    text-align: center;
    margin: 8px auto;
    padding: 5px;
}

.aboutMe .container .container-timeline {}

.aboutMe .container .container-timeline .timeline {
    counter-reset: year 2018;
    position: relative;
}

.aboutMe .container .container-timeline .timeline li {
    list-style: none;
    float: left;
    width: 30%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.aboutMe .container .container-timeline .timeline li::before {
    counter-increment: year;
    content: counter(year);
    width: 50px;
    height: 50px;
    border: 3px solid var(--white-color);
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 50px;
    margin: 0 auto 10px auto;
    background: #f1f1f1;
    color: #000;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.aboutMe .container .container-timeline .timeline li::after {
    content: "";
    position: absolute;
    width: 84%;
    height: 1px;
    background-color: var(--primary-color-active);
    top: 25px;
    left: -42%;
    /* z-index: ; */
    transition: all ease-in-out 0.3s;
}

.aboutMe .container .container-timeline .timeline li:first-child::after {
    content: none;
}

.aboutMe .container .container-timeline .timeline li.active {
    color: var(--primary-color);
}

.aboutMe .container .container-timeline .timeline li.active::before {
    background: var(--primary-color);
    color: var(--white-color);
}


@media only screen and (max-width: 620px) {

    #aboutMe>div {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}
